#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

VERSION ?= $(shell dpkg-parsechangelog | sed -rne 's/^Version: ([0-9.]+\+[0-9.]+)[-+].*$$/\1/p')
KERNELVERSION ?= $(shell dpkg-parsechangelog | sed -rne 's/^Version: ([0-9.]+)\+[0-9.]+[-+].*$$/\1/p')

%:
	dh $@ --with dkms

override_dh_auto_build:
	dh_auto_build --buildsystem=makefile -- \
	  usr/include/linux/aufs_type.h KDIR="/usr/src/linux-kbuild-$(KERNELVERSION)"

override_dh_auto_install:
	dh_install -paufs4-dkms -X.o -X.ko fs/ usr/src/aufs4-$(VERSION)
	dh_install -paufs4-dkms -X.o -X.ko include/ usr/src/aufs4-$(VERSION)
	dh_install -paufs4-dkms Makefile usr/src/aufs4-$(VERSION)
	dh_install -paufs4-dkms config.mk usr/src/aufs4-$(VERSION)
	dh_install -paufs4-headers usr/include/linux/aufs_type.h usr/include/linux

override_dh_dkms:
	dh_dkms -V
